.left-panel,
.right-panel {
    flex-shrink: 1;
    flex-basis: 0%;
    height: 100%;
    width: 0;
    background: #ffffff;
    overflow: hidden;
    outline: 1px solid #f0f0f0;
}
.left-panel {
    margin-right: 10px;
}
.right-panel {
    margin-left: 10px;
}

.center-panel {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .empty-space-top {
        flex: 1 1;
    }

    .actions {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .draggable-splitter {
        flex: 4 1;
        cursor: col-resize;
        border-radius: 3px;
        color: #a8a8a8;
        display: inline-flex;
        align-items: center;
        font-size: 24px;

        &:hover {
            background: rgba(0, 0, 0, 0.02);
            color: #707070;
        }

        .draggable-splitter-icon {
            width: 100%;
            text-align: center;
            user-select: none;
        }
    }
}
